---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import { getRepos } from '../utils/github';
import ProjectCard from '../components/ProjectCard.astro';
import EducationCard from '../components/EducationCard.astro';
import SkillCard from '../components/SkillCard.astro';
import Contact from '../components/Contact.astro';

const githubUsername = 'Mirespa';
const repos = await getRepos(githubUsername);

const preferedOrder = [
    'Image-Recognition',
    'Discord-bot',
	'Portfolio'
]

const sortedRepos = repos.sort((a, b) => {
	const aIndex = preferedOrder.indexOf(a.name);
	const bIndex = preferedOrder.indexOf(b.name);
	
	if (aIndex === -1 && bIndex === -1) return 0; // Both not in prefered order
	if (aIndex === -1) return 1; // a not in prefered order, b is
	if (bIndex === -1) return -1; // b not in prefered order, a is
	
	return aIndex - bIndex; // Both in prefered order, sort by index
});

const imageMap = {
	'fallback': '/images/fallback.jpg'
}

const skillGroups = [
	{
		title: 'Languages',
		skills: ['JavaScript', 'TypeScript', 'Python', 'Java', 'C', 'C++', 'Bash', 'PowerShell']
	},	
	{
		title: 'Frontend',
		skills: ['React', 'Vite', 'Next.js', 'Astro']
	},
	{
		title: 'Backend',
		skills: ['Node.js']
	},
	{
		title: 'Databases',
		skills: ['PostgreSQL', 'MongoDB']
	},
	{
		title: 'Cloud & DevOps',
		skills: ['AWS', 'Linux', 'Windows', 'Docker', 'CI/CD']
	},
	{
		title: 'Other',
		skills: ['Git', 'Figma', 'Agile Methodologies', 'UE5', 'Gimp']
	}
]

const education = [
	{
		school: 'University of Turku',
		degree: 'Master of Science in Data analytics',
		years: '2025 - present',
		description: 'Specializing in data analytics and machine learning.',
		url: 'https://www.utu.fi/fi/opiskelijaksi/tietotekniikka-tekniikan-kandidaatti-ja-diplomi-insinoori-3-v-2-v'
	},
	{
		school: 'University of Turku',
		degree: 'Bachelor of Science in Computer Science',
		years: '2022 - 2025',
		description: 'Focused on software development and data structures.',
		url: 'https://www.utu.fi/fi/opiskelijaksi/tietotekniikka-tekniikan-kandidaatti-ja-diplomi-insinoori-3-v-2-v'
	}
];

---

<Layout>
	<div class="background">
		<Hero />
		<About />
			<section class="projects-section">
				<h2>Projects & Courses</h2>
				<div class="projects-grid">
					{sortedRepos.map((repo) => (
						<ProjectCard
						title={repo.name}
						description={repo.description}
						url={repo.html_url}
						image={imageMap[repo.name] ?? imageMap.fallback}
						/>
					))}
				</div>
			</section>
		
		<section class="education-section">
			<h2>Education</h2>
			<div class="education-grid">
				{education.map((edu) => (
					<EducationCard {...edu} />
				))}
		</section>

		<section class="skills-section">
		<h2>Skills</h2>
		{skillGroups.map((group) => (
			<div class="skill-group">
			<h3>{group.title}</h3>
			<div class="skills-list">
				{group.skills.map((skill) => (
				<SkillCard skill={skill} />
				))}
			</div>
			</div>
		))}
		</section>
		<Contact />
	</div>
</Layout>

<style>
	.background {
		background: linear-gradient(#226cc6 0%, #031c61 100%)
	}
	
	.projects-section {
		padding: 2rem;
		margin: 0 auto;
		color: white;
	}

	.projects-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}

	@media (max-width: 768px) {
		.projects-grid {
			grid-template-columns: 1fr;
		}
	}

	.education-section {
		padding: 2rem;
		margin: 0 auto;
		color: white;
	}

	.education-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}

	@media (max-width: 768px) {
		.education-grid {
			grid-template-columns: 1fr;
		}
	}

	.skills-section {
		padding: 2rem;
		margin: 0 auto;
		color: white;
	}

	.skill-group {
		margin-bottom: 2rem;
	}

	.skills-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>