---
const { school, degree, years, description, url } = Astro.props;
---

<a class="education-card" href={url} target="_blank" rel="noopener noreferrer">
    <divs>
        <h3><strong>{degree}</strong> ({years})</h3>
        <p>{school}</p>
        <p>{description}</p>
    </div>
</a>

<style>
    .education-card {
        background: #1a1a1a;
        padding: 1rem;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        display: flex;
    }

    .education-card:hover {
    transform: translateY(-5px);
    }

    .education-card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>